node_modules
dist
.next
.turbo
.DS_Store
*.log
.env
.env.local
.env*.local
coverage
.vercel
*.tsbuildinfo
apps/cms/.keystone
apps/sites/.next
apps/saas/.next
packages/*/dist
tmp
exports
.unlighthouse
*.sqlite
*.db
